
* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    
    width: 50%;
    height:max-content;
  }
  .rightcol{
    padding-top: 20px;
    margin-top: 100px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row{
    display: flex;
    padding-top: 100px;
    width: 60%;
    margin: 0 auto;

   
  }
  .heading{
    font-size: 30px;
    text-align: center;
    background-color: rgb(172, 169, 166);
    font-weight: 200;
    font-style: italic;
    padding: 20px;
  }
  .subheading{
    font-size: 50px;
    color: rgb(52, 119, 116);

  }
  .repo{
    color: antiquewhite;
    font-size: 20px;
  }